[2020-09-18 06:25] maks opened #4 "Desktop app on Linux"
Thanks for building the desktop app, its a very nice UI! I've also been using the cli for a little while now instead of manually managing symlinks and find it very helpful.

Doing a quick check I built and ran on Linux desktop (on master) without any issues.

Would be nice to add Linux desktop builds for future releases here on GH and update the Readme to mention that it works on Linux too.

[2020-10-01 16:21] vanlooverenkoen opened #3 "[Feature Request] Add support for multiple flutter project directories"
**Is your feature request related to a problem? Please describe.**
First of all, I want to say thanks for your amazing work!!!!

We are using fvm for all our projects. And we are also using your mac GUI tool.

For that we were thinking about another feature for the GUI tool.
I use our macbook at work and at home. To split up our work and personal projects in a separate directory. Right now we can

[2020-10-18 12:56] vanlooverenkoen opened #2 "[Feature Request] Add support for showing the release notes of a new flutter version"
**Is your feature request related to a problem? Please describe.**
Right now we can't see the changelog in th fvm GUI.

**Describe the solution you'd like**
- show the changelog in the GUI
- open the github page with the latest release so changes can be reviewed in browser as well

[2020-10-23 07:33] kw2019ltd opened #1 "Create .exe installation"
hi, can you publish the app as exe for windows

[2020-12-21 20:31] Greendogo opened #7 "[Feature Request] General Build Instructions for Windows, Linux, Etc."
**Is your feature request related to a problem? Please describe.**
I'd like to build fvm for my environment using a simple set of instructions.

**Describe the solution you'd like**
Following the instructions produces a properly built binary of fvm for deployment on an endpoint.

[2021-02-18 18:07] samandmoore opened #5 "[Feature Request] pre-built binaries for installation"
hiya!

thanks so much for this project. it's been really useful to me and my teammates.

**Is your feature request related to a problem? Please describe.**
Sorta.

Using `fvm` to install flutter versions is great, _but_ the fact that installing `fvm` requires dart to be installed is quite painful for automating setup scripts to run for a team of developers. Often a developer will end up in a spot

[2021-03-01 09:21] osaxma opened #6 "[BUG] FVM App in MacOS does not show an option to upgrade master when new version exists"
At the time of taking this screenshot, the latest flutter master was `1.27.0-9.0.pre.129`. Unlike other channels, the master channel does not show an option to upgrade as shown in the screenshot.

<img width="805" alt="Screen Shot 2021-03-01 at 12 14 45 PM" src="https://user-images.githubusercontent.com/46427323/109476470-03a1ac00-7a88-11eb-9d50-c18a15e79efa.png">

FVM App version 1.0.0.1 (1.0.0.1

[2021-03-23 18:49] mzdm commented on #1
this might help https://pub.dev/packages/squirrel

[2021-03-25 14:09] leoafarias commented on #2
@vanlooverenkoen revisiting this. I am trying to see what is the best way to implement this. I really like the idea, but when I did research not all versions have release notes
https://flutter.dev/docs/development/tools/sdk/release-notes

Will have to think how to go about this

[2021-03-25 14:11] vanlooverenkoen commented on #2
I always go to github to see the release notes:

https://github.com/flutter/flutter/tags

not sure if there is a clean way to fetch these release notes.

[2021-03-25 14:13] leoafarias commented on #2
thanks @vanlooverenkoen this helps.

[2021-03-25 14:15] vanlooverenkoen commented on #2
I created a GitHub issue manager once. I had problems with the GitHub quota api calls. So I think that will the biggest problem

[2021-03-25 14:29] vanlooverenkoen opened #8 "[Bug] 1.0.0-alpha.2+1 is having an issue with the projects folder"
A flutter crash is happening on the project page on 1.0.0-alpha.2+1

This is probably an index out of bounds error
![image](https://user-images.githubusercontent.com/21172855/112489474-c2e33d00-8d7e-11eb-8105-e551dafbef75.png)

[2021-03-25 14:31] vanlooverenkoen opened #9 "[Feature Request] In app updates"
It would be nice to check for updates of sidekick inside the app so we don't have to go to the github page to check for new updates.

The download & installation of a gui update could also happen from the gui

[2021-03-25 15:02] leoafarias commented on #2
Kept it simple for now.

[2021-03-25 15:05] leoafarias commented on #8
@vanlooverenkoen any further information you can provide on this it would be great, as I am not seeing it. For logs you can build the project locally to see the error.

[2021-03-25 15:06] #2 closed

[2021-03-25 15:07] aguilaair commented on #9
Hey!

This will be coming very soon, I'm migrating all the Companion stuff to this repo, which includes auto updates!

Just a quick demo:
![20210325_160726.jpg](https://user-images.githubusercontent.com/29983481/112495509-3e93b880-8d84-11eb-9b93-425df6e68d5f.jpg)

[2021-03-25 15:25] vanlooverenkoen commented on #8
I will try to do that tomorrow or during the weekend

[2021-03-25 18:51] marcos930807 opened #12 "Flutter SDK not Installed using custom cache directory."
Hi @leoafarias thanks for your amazing work here!!
I have configured the fvm cache in a custom directory using the environment variable FVM_HOME however sidekick tells me that I do not have any version installed. Is there anything else I have to configure?
{▸} ~echo $FVM_HOME
/Users/marcos/Documents/SDKs/fvm

[2021-03-25 19:05] leoafarias commented on #12
@marcos930807 I believe this might be a bug. For now, can you try using the config?
`fvm config --cache-path <CACHE_PATH>`

[2021-03-25 19:25] marcos930807 commented on #12
Dos not work either. I am on macOS 11.0.1 20B29 darwin-x64 ,BigSur

[2021-03-25 20:30] leoafarias commented on #12
@marcos930807 just tested and --cache-path works, but you have to make sure you close the app and open it again after the change

[2021-03-25 21:47] leoafarias opened #14 "Set the global version through the APP"
Provide functionality to set the global flutter version from within the app.

[2021-03-26 07:39] aguilaair commented on #5
Hey! I've opened PR #11, which adds a .MSIX installer for Windows and and pre-built binaries for Linux, so the next version of Sidekick should hopefully include all of the prebuilt binaries

[2021-03-26 07:40] aguilaair commented on #1
Hey! If the #11 gets merged there will be an MSIX installer for Windows, it is not as straightforward as squirrel to install but should be good enough for the time being.

[2021-03-26 07:43] aguilaair commented on #1
Squirrel doesn't look to difficult to implement either, might be worth a shot too. @leoafarias could you assign this issue to me, I'll try it out on companion and if it works well w/ the auto-update feature that'll roll out then we can add this as an asset and done.

[2021-03-26 07:47] aguilaair commented on #4
Hey! #11 adds a desktop app that will run on Linux, however there is still quite a lot that can be done to make the experience better, I had experimented with making .deb and .rmp packages for Linux, but found that they weren't as straightforward. I also tried building a snap, which works locally but for some reason fails on GitHub Actions because on a Windows dependency (no idea why), so this is

[2021-03-26 10:45] davidmartos96 opened #15 "Can't resize window on Linux"
Hello! I have tried the Linux app and it works great, nice job!
I found an issue though, I'm not able to resize the window. I figure this is not intended because you set Size.infinite for the max window size.
It looks like that is disabling the ability to resize at all.

As you can see here the Maximize and Resize buttons are grayed out.

![image](https://user-images.githubusercontent.com/22084723

[2021-03-26 21:17] leoafarias opened #17 "."

[2021-03-26 21:17] leoafarias commented on #17
@all-contributors please add @leoafarias for code,ideas,design,doc

[2021-03-26 21:18] #17 closed

[2021-03-27 10:58] aguilaair commented on #15
I've experienced the same issue too, I'll take a look a little later 👍

[2021-03-27 11:38] msarkrish commented on #1
@aguilaair when we can get .exe file?

[2021-03-27 12:42] aguilaair commented on #1
Sidekick now has .MISX, I'll experiment with squirrel soon(ish) to see if we can use it

[2021-03-27 19:27] aguilaair commented on #1
Update: Squirrel cannot currently be implemented. We'll continue to use MSIX for the foreseeable future until the NNBD migration is done and we can use it.
[code]

[2021-03-27 19:56] aguilaair commented on #15
I've been experimenting with this and it is clear that `setWindowMinSize` & `setWindowMaxSize` are causing issues when resizing in linux, and setting either one will cause the bug to appear. The only workaround at this point in time I think is simply not setting these parameters in Linux

[2021-03-27 19:58] aguilaair commented on #15
This is a known issue at https://github.com/google/flutter-desktop-embedding/issues/844

[2021-03-27 20:00] aguilaair commented on #9
@leoafarias this has been implemented in https://github.com/leoafarias/sidekick/releases/tag/1.0.0-alpha.3, can it be closed?

[2021-03-27 20:31] leoafarias commented on #1
Tried using squirrel but this dependency thing is a pain. Probably will be part of a null safety migration

[2021-03-27 20:34] leoafarias commented on #9
@aguilaair did have time to do proper testing on windows and Linux.

[2021-03-27 20:34] leoafarias commented on #9
Will test as soon as we have windows automation working

[2021-03-27 20:39] aguilaair commented on #9
Its working ok in Companion, and its basically the same code, might need to tweak some stuff on Linux still because we have mo installer

[2021-03-28 00:01] davidmartos96 commented on #15
@aguilaair Interesting. So does it fail also by commenting out the setMaxSize line? I thought the problem was about Size.inifnite.

[2021-03-28 00:03] aguilaair commented on #15
Yep, still fails AKAIK

[2021-03-28 11:29] #6 closed

[2021-04-01 20:08] leoafarias commented on #8
I have found the issue, it can happen when the projects folder changes or some information is missing in the project. Will send a PR

[2021-04-04 10:59] aguilaair commented on #15
This issue has now been solved. @leoafarias, mind closing it?

[2021-04-04 13:58] leoafarias commented on #15
@aguilaair do you know which release channel is on? Want to make sure the lates build uses that version.

[2021-04-04 14:03] aguilaair commented on #15
It's resolved on master, so there should be no change required. Just in case you can change https://github.com/leoafarias/sidekick/blob/main/pubspec.lock#L878 to `57a2cd88486105d3d813583339eb0e23c9bfd6d2`

[2021-04-04 14:04] #15 closed

[2021-04-12 09:55] leoafarias commented on #14
This was merged on https://github.com/leoafarias/sidekick/pull/31

[2021-04-12 09:55] #14 closed

[2021-04-12 10:11] aguilaair commented on #5
@leoafarias I believe this can be closed now as pre-built binaries fro Linux, MacOS & Windows are now automatically uploaded to every release

[2021-04-13 00:43] #5 closed

[2021-04-13 00:44] leoafarias commented on #1
This is on the alpha4

[2021-04-13 00:44] #1 closed

[2021-04-13 00:44] #4 closed

[2021-04-13 06:04] msarkrish opened #36 "Projects menu shows blank screen"
I installed the sidekick.exe file on my laptop.
I still not completed the FVM setup.
Inside settings In the Projects menu, it shows a blank screen.
![Screenshot (108)](https://user-images.githubusercontent.com/45334931/114504154-075e4c00-9c4c-11eb-807d-7b5d4799dd8b.png)

[2021-04-13 06:05] msarkrish opened #37 "Dark mode option not working in Windows"
I tried to change dark mode, but it shows an error.
![Screenshot (109)](https://user-images.githubusercontent.com/45334931/114504290-45f40680-9c4c-11eb-9224-e43f9e060b7e.png)

[2021-04-13 06:12] aguilaair commented on #36
@leoafarias this is the same issue I experienced and had not managed to fix

[2021-04-13 10:15] #36 closed

[2021-04-13 10:27] leoafarias commented on #12
@marcos930807 I will go ahead and close this issue, please reopen if the solution above did not work

[2021-04-13 10:27] #12 closed

[2021-04-13 10:27] leoafarias commented on #8
This has been fixed on the latest versions

[2021-04-13 10:27] #8 closed

[2021-04-13 12:39] msarkrish commented on #9
@leoafarias @aguilaair Today I installed Sidekick 1.0.0-alpha.4 in my windows.
New version 1.0.0-alpha.5 now available but the new version available pop up not showing for me.

[2021-04-13 12:44] msarkrish opened #39 "Change Settings screen showing blank screen for projects and packages"
I installed the sidekick.exe file on my laptop.
I still not completed the FVM setup.
In Projects and Packages change settings screen showing a blank screen.

Projects:
![Screenshot (113)](https://user-images.githubusercontent.com/45334931/114553848-b407f000-9c83-11eb-955d-93c0c790888e.png)
![Screenshot (114)](https://user-images.githubusercontent.com/45334931/114553860-b66a4a00-9c83-11eb-93c0-c971

[2021-04-13 14:03] aguilaair commented on #9
@leoafarias disabled it unfortunately

[2021-04-13 15:09] leoafarias commented on #9
@msarkrish There will be changes on the URL scheme for builds and we might adjust the checking, which will cause the check update to break.

This will also probably include a reset of the versions to 0.0.1 instead of 1.0.0-alpha.6 for example.

[2021-04-13 15:14] leoafarias commented on #39
@msarkrish Can you take me to your "installation process"? Also these blank screens are after you have changed the project path?

[2021-04-13 15:34] msarkrish commented on #39
@leoafarias I still not completed the setup for FVM.
I downloaded the sidekick.exe file from today's release of 1.0.0-alpha.4

[2021-04-13 16:11] leoafarias commented on #39
@msarkrish Ok that blank screen shows up after you choose the projects path?

[2021-04-13 16:20] leoafarias commented on #39
@msarkrish I was not able to replicate this issue. What do you do after downloading the zip of the binaries? Also are you running in developer/admin mode?

[2021-04-13 17:37] msarkrish commented on #39
After clicking change settings, it showing a blank screen.

[2021-04-13 17:41] msarkrish commented on #9
@leoafarias then this issue should be open right?

[2021-04-13 17:47] msarkrish commented on #39
1). I downloaded [1.0.0-alpha4](https://github.com/leoafarias/sidekick/releases/tag/1.0.0-alpha.4)

2). I opened the sidekick application by double-clicking the sidekick application which is in the release folder.

Folder screenshot Attached.

![sidekick](https://user-images.githubusercontent.com/45334931/114597117-0b22ba80-9cae-11eb-8e27-2b066f0246a6.PNG)

[2021-04-13 17:52] aguilaair commented on #37
Hey! We've tried to replicate this issue but we have no problem changing the theme...
![image](https://user-images.githubusercontent.com/29983481/114598096-cc7f0700-9c91-11eb-8b25-3d4361c24f6b.png)

[2021-04-13 17:54] aguilaair opened #40 "Investigate Command Prompt opening up on project handling"
In windows when a setting is changes or you open the project screen a command prompt opens, presumably to complete a task. However, this should be done in the background.

@leoafarias can you assign me this issue? I'd like to take a look in the coming week, right now I'm quite busy 😄

Example:
![image](https://user-images.githubusercontent.com/29983481/114598317-0c45ee80-9c92-11eb-9563-e1dd803a848

[2021-04-13 18:08] leoafarias commented on #39
@msarkrish The fixes are on Alpha.5

[2021-04-13 18:14] leoafarias commented on #40
@aguilaair I believe the issue is on `fvm` I am running a process  to get the Flutter config, instead of getting from the file, because I am trying to do everything through their API. I have `runInShell` to be default, not sure if I have it on false

[2021-04-13 18:16] aguilaair commented on #40
runInShell should be false by default... but in that case commands to flutter shouldn't work because the PATH isn't loaded

[2021-04-13 18:21] leoafarias commented on #40
I think I know the problem. I am running a `whichSync` to get the path of the global flutter version. I think that is what is opening the shell.

[2021-04-13 18:24] #39 closed

[2021-04-13 18:33] msarkrish commented on #37
@aguilaair I uploaded my screen recording.

https://user-images.githubusercontent.com/45334931/114602907-c0587100-9cb4-11eb-9716-ec8eecad6caf.mp4

[2021-04-13 18:42] msarkrish opened #41 "Exception while enabling and disabling Advanced mode"
https://user-images.githubusercontent.com/45334931/114604015-0f52d600-9cb6-11eb-9e47-4ffe48d99818.mp4

[2021-04-13 18:47] msarkrish commented on #37
@aguilaair I'm Using Flutter v1.12.13+hotfix.8, so I could not run this project now.

[2021-04-13 19:36] aguilaair commented on #37
Ok, that's fine, let me see if I can send you over something to search for the error

[2021-04-13 19:54] aguilaair commented on #37
Hey, this will probably change nothing, but have you tried running it as an admin?

[2021-04-13 19:58] leoafarias commented on #37
@aguilaair I think that is it, I had mentioned in the settings, but its saving the fvm settings and it can't, You need admin in order to be able to manage the versions, and globals

[2021-04-13 19:58] leoafarias commented on #37
Another option is to just turn own `developer` mode on windows

[2021-04-13 20:00] leoafarias commented on #41
@msarkrish I am closing this issue. This is all related to https://github.com/leoafarias/sidekick/issues/37

[2021-04-13 20:00] #41 closed

[2021-04-13 20:01] leoafarias commented on #37
@msarkrish please let me know once you try the suggestion above

[2021-04-14 01:48] workwing opened #43 "Application open is blank"
Version 1.0.0.5 (1.0.0.5)
macOS Big Sur 11.2.3
https://github.com/workwing/resource/blob/8ab11cf14aaa0dd88e63f467db10ffcc1aade97b/sidekick.png

[2021-04-14 01:48] workwing commented on #43
https://github.com/workwing/resource/blob/8ab11cf14aaa0dd88e63f467db10ffcc1aade97b/sidekick.png

[2021-04-14 05:28] aguilaair commented on #43
Hey! The is for filing an issue, have you set up fvm already? Have you used the dmg?

Thanks!

[2021-04-14 07:02] msarkrish commented on #37
@aguilaair @leoafarias I run the sidekick as administrator but still same exception showing.

[2021-04-14 10:09] leoafarias commented on #37
I think I know what the issue is, will push a fix on the next release

[2021-04-14 14:24] msarkrish commented on #37
Need sidekick release for this fix @leoafarias

[2021-04-14 14:37] aguilaair commented on #37
Hey, in the meantime here's a build:
[Release.zip](https://github.com/leoafarias/sidekick/files/6311536/Release.zip)

[2021-04-14 21:39] #40 closed

[2021-04-14 21:41] leoafarias commented on #9
This is on the next release

[2021-04-14 21:41] #9 closed

[2021-04-15 07:53] msarkrish commented on #37
@leoafarias @aguilaair  Sidekick 0.0.1 also have this problem and advanced mode enable disable problem

[2021-04-15 09:06] aguilaair commented on #37
Ok, @leoafarias mind reopening this issue until it is IDd an fixed?

[2021-04-15 09:28] aguilaair opened #46 "Overflow on some packages"
![image](https://user-images.githubusercontent.com/29983481/114847137-abc3c800-9ddd-11eb-8a36-4d3f3d6ce343.png)

bug found on 0.0.1

[2021-04-15 10:10] leoafarias commented on #37
The issue should not have been closed, I added closes instead of fixes on the merge comment so it closed automatically

[2021-04-15 10:12] aguilaair commented on #40
with this fix we should now be able to open up vscode and other PATH installed IDEs very easily, should I create an issue for that  @leoafarias ?

[2021-04-15 10:33] leoafarias commented on #46
Resolved this issue... Seems an update was pushed to the package, and score switched to `pending`, which returns the score as null. The issue is fixed on that version after the cache expires, but I made a fix to make sure that does not happen again.

[2021-04-15 10:36] leoafarias commented on #40
Yes

[2021-04-15 11:46] #46 closed

[2021-04-16 08:37] Lootwig opened #48 "Add "How to use" to README.md"
Any kind of instructions might be helpful - regarding how to run (I guess it's "build on your own" as there are no binaries linked), and how the UI works.

[2021-04-16 12:12] aguilaair commented on #48
Hey! There are binaries, please check the Releases section and choose the correct binary for your OS

[2021-04-16 13:32] Lootwig commented on #48
You're right. I'm not used to looking for that section on GitHub yet.

[2021-04-16 13:36] Lootwig opened #49 "Unable to open application on macOS Big Sur"
This appears after copying the dmg to Applications & running:

![image](https://user-images.githubusercontent.com/39827040/115032331-7a282b00-9ec9-11eb-8138-1dc4a7069b2b.png)

[2021-04-16 14:39] leoafarias commented on #49
I will update the documentation, but this is correct when downloading an app not signed by Apple. I will look into signing once we reach stable.

Preferences > Security > Open Anyways (You will see sidekick show up there if it was the last app you tried to open)

[2021-04-22 14:19] tobiasht commented on #49
It is the same issue for pretty much any application you install outside of the App Store as long as they are no specifically signed. There are two very easy solutions though:

A: Hold down "ctrl" while opening the application.

B: Go to _Settings_ -> _Security & Privacy_ -> _General_  and press "Open Anyway", where it states _"Sidekick.app was blocked from use because it is not from an identified

[2021-04-24 10:05] #49 closed

[2021-04-25 00:34] herrmartell opened #53 "Flutter projects are never found"
**Steps to reproduce**

1. On latest version you go and configure the location of the projects, return to projects view and see nothing.
2. Close sidekick app
3. Reopen sidekick app
4. Check locations of projects in settings: there is no location set

mac os Big Sur 11.2.3

[2021-04-25 13:39] leoafarias commented on #53
Just deployed an update. Let me know if the issue persists.

[2021-04-25 15:43] leoafarias commented on #37
Issue should be fixed on 0.0.3

[2021-04-25 15:43] #37 closed

[2021-04-25 15:44] leoafarias commented on #43
This issue should have been fixed on 0.0.3 please confirm

[2021-04-25 16:07] osaxma opened #54 "Clicking on Side Navigation Items causes the app to crash"
When I click on any of the two marked items in red circle, the app crashes immediately.

<img width="803" alt="Screen Shot 2021-04-25 at 7 01 25 PM" src="https://user-images.githubusercontent.com/46427323/116000435-d4776900-a5f8-11eb-92ce-0857a10b61c8.png">

I'm using latest version `0.0.3` on `macOS Big Sur 11.2.3 (20D91)`.  Please let me know if you need additional information. (version `0.0.2`

[2021-04-25 17:35] leoafarias commented on #54
Thanks for reporting this, seems that it only happens when the app is built for release.

[2021-04-25 20:37] herrmartell commented on #53
I cannot check if this works or not because of [this issue](https://github.com/leoafarias/sidekick/issues/54)

[2021-04-26 02:56] leoafarias commented on #54
This is related to the following problem: https://github.com/tekartik/process_run.dart/issues/36

[2021-04-26 03:09] leoafarias commented on #54
For further reference https://github.com/flutter/flutter/issues/76990

[2021-04-26 16:49] leoafarias commented on #54
@osaxma This has been resolved

[2021-04-26 16:50] leoafarias commented on #53
@herrmartell the referenced issue has been resolved

[2021-04-26 18:26] #54 closed

[2021-04-27 02:23] herrmartell commented on #53
@leoafarias That seems to have fixed it. Thanks!

[2021-04-27 02:23] #53 closed

[2021-04-28 01:45] herrmartell commented on #48
Even though this is not what the OP meant, I do believe there should be a small list of steps on how to configure your project to work with sidekick. The [old repo](https://github.com/leoafarias/fvm) had it.

[2021-04-28 14:11] SirusCodes opened #56 "Can only check flutter settings with a global version configured."
I got this error while build it on Windows 10

[code]

I guess it is not able to find the path to fvm.

[2021-04-28 15:43] ToanMobile commented on #43
Confirm version 0.0.4 not fix.
<img width="880" alt="Screen Shot 2021-04-28 at 22 42 31" src="https://user-images.githubusercontent.com/6941388/116432874-275c5500-a873-11eb-967a-b8da9a6b176f.png">
<img width="826" alt="Screen Shot 2021-04-28 at 22 42 37" src="https://user-images.githubusercontent.com/6941388/116432895-2b887280-a873-11eb-8c19-923960f84822.png">

[2021-04-28 16:27] leoafarias commented on #43
@ToanMobile Can you go to `General` and reset settings. Select the directory again. Seems like this is a different issue.

[2021-04-28 16:58] leoafarias commented on #56
Creating a better UI to show, however, I have still have to see what is the best way to work around this.

[2021-04-28 17:50] SirusCodes commented on #56
I couldn't understand how to fix it🤔
Do I need to set global Flutter version in fvm?

[2021-04-28 18:44] leoafarias commented on #56
yes you have to configured a global version, I will create better docs, but on the Installed versions click on the menu on the right side of the version and select "Set as Global"

[2021-04-28 20:08] aguilaair opened #58 "Update changelog is null, breaking the update card"
![image](https://user-images.githubusercontent.com/29983481/116465953-342a7a00-a86e-11eb-9473-399e5b84aa0d.png)
(BTW @leoafarias been super busy these last few weeks, will gets some stuff done this weekend hopefully)

[2021-05-03 04:53] masteradit opened #60 "Window needs cert to install package. Not trusted certificate."
I downloaded and tried to run `sidekick-windows-0.0.5.msix` from https://github.com/leoafarias/sidekick/releases. But I got this error:

```This app package is not signed with a trusted certificate. Contact your system administrator or the app developer to obtain a new certificate or app package with trusted certificates. The root certificate and all immediate certificates of the signature in the

[2021-05-03 12:59] aguilaair commented on #60
Hey! Yes, we know this is an issue Windows users are having and we'd love to address it, but signed certificates are expensive. For the time being please follow the instructions here:

https://github.com/aguilaair/Companion/wiki/Installing#installing-with-msix-recommended

[2021-05-03 15:27] aguilaair commented on #48
There are some instructions on how to get up and running at https://github.com/leoafarias/sidekick/blob/main/INSTALLING.md

[2021-05-03 20:24] PaulHalliday opened #61 ""No Flutter Projects Found" when directory is set"
Sidekick looks like it'd be a fun tool! Thanks for innovating in this space.

**Issue**
I've set a path inside of a folder named `development` which contains multiple Flutter projects (and other project types, i.e. web, c#, etc).

Navigating to the **Projects** tab doesn't show and/or load any Flutter projects.

<img width="1115" alt="Screenshot 2021-05-03 at 21 18 11" src="https://user-images.git

[2021-05-03 21:35] leoafarias commented on #61
@PaulHalliday Can you go to General > and reset the settings and try again.

[2021-05-05 07:12] crtl opened #62 "[Feature Request] Add Single Project without providing Directory for all Projects"
TLDR: Users should be able to add single projects without parent directory.

After I downloaded the app this was the fist thing I saw and is pretty much a nogo for me.

Currently users select a project directory under which all projects are stored but in my opinion you should add projects by themselfes and not over detecting by a parent directory.

At the moment users are forced to use a specific

[2021-05-05 07:16] aguilaair commented on #62
This is probably a duplicate of https://github.com/leoafarias/sidekick/issues/3 as long as it allows selecting a directory where the selected folder is already a flutter project

[2021-05-05 07:26] crtl commented on #62
@aguilaair I have seen #3 but its more about adding multiple root directories and not the ability to add a single project.

[2021-05-05 08:29] mcorbelli opened #63 "New icon in Big Sur style"
Obviously this is not a issue. But it wouldn't hurt to have the Big Sur-style app icon

[2021-05-06 10:32] aguilaair commented on #58
Solved in 0.0.5

[2021-05-06 10:32] #58 closed

[2021-05-06 23:25] leoafarias commented on #61
@PaulHalliday This issue should have been fixed on the latest release. I will go ahead and close the issue. Feel free to reopen if it persists.

[2021-05-06 23:25] #61 closed

[2021-05-06 23:25] leoafarias commented on #43
This should have been resolved on the latest release

[2021-05-06 23:25] #43 closed

[2021-05-06 23:27] leoafarias commented on #56
@SirusCodes I will go ahead and close this since the updated notification and UI were in latest version

[2021-05-06 23:27] #56 closed

[2021-05-07 09:24] Ahmadre opened #64 "[VSCode] - Have to locate SDK on myself"
I installed newest version of sidekick and fvm, but after I set the version for my project, VSCode is not able to locate the SDK.

Any idea why?

[2021-05-07 09:43] aguilaair commented on #64
Hey!

This is a FVM related issue more than a Sidekick issue. However, please open settings in VSCode and look for `dart.flutterSdkPaths`. Then, add where the SDK versions are located, for example I have set it to `/Users/eduardo/fvm/versions`

[2021-05-07 09:57] leoafarias commented on #64
@Ahmadre I suggest taking a look at the following docs
https://fvm.app/docs/getting_started/configuration

[2021-05-07 10:04] Ahmadre commented on #64
It works ✨

Thank you for the link :))

[2021-05-07 10:04] #64 closed

[2021-05-07 10:06] leoafarias commented on #64
Now that fvm UI is called sidekick seems like this will be a common problem, that the use of fvm under is not clear. I Will add this to the backlog

[2021-05-08 12:08] leoafarias opened #67 "Add Flutter projects explicitly"
The current Flutter projects implementation requires a directory to be added and all Flutter projects are scanned.

This adds some complexity to the project's logic and also has some limitations

It would be a better approach to allow to add each project explicitly.

Workflow
- User taps project add button
- User selects project directory
	- If Flutter: Project directory is added.
	- If not Flutte

[2021-05-08 21:52] leoafarias commented on #7
Will close this issue, we have install instructions and also for FVM we have updated docs here https://fvm.app

[2021-05-08 21:52] #7 closed

[2021-05-09 06:14] aguilaair commented on #7
@leoafarias can you maybe create a sub domain e.g. sidekick.fvm.app so we can add the docs for sidekick there?

[2021-05-12 01:41] anticafe opened #70 "Why the version in pubspec.yml (0.0.3) vs version.dart (0.0.2) not the same?"

[2021-05-12 02:37] leoafarias commented on #70
The version is set during the release process. This discrepancy is only on dev, and we will improve to make sure it's consistent even on dev

[2021-05-12 07:55] Fasuh opened #71 "[Feature request] Project creation"
I think it would be nice to implement project creation feature, You could select flutter fvm version maybe even integrate with https://pub.dev/packages/mason for some template generation, i personally think it would make this tool more meaningful, maybe even essential

[2021-05-12 08:07] aguilaair commented on #71
I definitely agree that having a way to kick-start projects with Sidekick would be great. I can start a PoC soon(ish), or if you want to take a shot I'd also be happy to work on another thing whiltst you play around with this.

[2021-05-12 08:09] aguilaair commented on #70
One Idea I had to solve this was to push a commit changing the version automatically on a version release. I'm using this successfully for a NextJS site, so I don't see why this wouldn't work in this case

[2021-05-12 08:27] Fasuh commented on #71
I may try in my free time but i'm not sure if i'll find some

[2021-05-12 12:22] leoafarias commented on #71
I have had a few conversations with different people and seems that this is something we can agree on. However, the implementation needs to be decided.
- What do we use for the template creation (Mason?)
- Do we support other community templates? How?
- Can we help people discover templates, or display popular templates?

This is just scratching the surface. If this feature needs to be tackled for

[2021-05-12 12:23] leoafarias commented on #70
@aguilaair that is an option. Also, I am having a similar problem on my other packages that use build_version, I think we should use build_version, or create a script through the grinder, or a dart script to make sure we can have the same functionality locally. The CI should call build_version or the script

[2021-05-12 14:25] #70 closed

[2021-05-14 16:51] LautaroLobo12 opened #78 ""Sidekick" can't be opened because Apple cannot check it for malicious software."
When I'm trying to install sidekick on my MacBook Pro, this pop-up arises that says:

I would ❤️  to use Sidekick, I just simply can't.

I'm new to Mac, maybe I missed something... any ideas?

[2021-05-14 17:24] leoafarias commented on #78
Please look into https://github.com/leoafarias/sidekick/issues/49, but will leave it open so I can update the documentation.

[2021-05-18 12:43] abdimussa87 opened #79 "After changing flutter version for my project, it isn't being reflected as it still shows the default version when checking flutter --version"

[2021-05-18 12:45] #79 closed

[2021-05-19 01:55] leoafarias commented on #71
Will close this in favor of the discussion https://github.com/leoafarias/sidekick/discussions/77

[2021-05-19 01:55] #71 closed

[2021-05-20 11:45] leoafarias opened #81 "Internationalization"
The Flutter community is very much global. It would be important for us to have a path towards internationalization where people could contribute.

Right now Sidekick does not have any abstraction for internalization. We would first need to build this and call for the community to contribute.

[2021-05-20 11:51] leoafarias commented on #78
Closing this as @aguilaair has already documented here https://github.com/leoafarias/sidekick/blob/main/INSTALLING.md

[2021-05-20 11:51] #78 closed

[2021-05-26 07:04] DonnC commented on #1
@leoafarias i know this is closed but you can check out [inno setup](https://jrsoftware.org/isinfo.php)
i use it more often to create standalone .exe files for my flutter desktop applications as installable setup files

[2021-05-26 07:12] aguilaair opened #82 "Null-Safety Migration"
What needs to be done to migrate to null safety?
What are the dependencies that still have not migrated yet?

[2021-05-26 14:54] leoafarias commented on #82
@aguilaair I believe the dependencies have been updated and its ready to start with a null migration. However just a brief review on the automatic migration suggestion, I suggest not using that, and just switching the SDK, and going through the linter in the following order:

- DTOs
- Services
- Providers
- Atoms
- Molecules
- Organisms
- Screens

[2021-05-26 17:50] leoafarias commented on #1
@DonnC can you create a new issue as an enhancement so we can discuss?

Would like to know the benefits over the current setup.

[2021-05-27 06:48] DonnC opened #83 "Use Inno for creation of standalone .exe"
Hie, @leoafarias  this is a continuation of issue raised here #1

I have been experimenting with flutter desktop for sometime and creating a single .exe has been a pain. Luckily i found a free installer [inno setup](https://jrsoftware.org/isinfo.php) as mentioned in [flutter docs](https://flutter.dev/desktop#building-your-own-zip-file-for-windows) .

The advantage of this is that, it creates a bun

[2021-05-27 07:06] aguilaair commented on #83
The main issue I see with Inno is the fact that it has to be done manually, and there is no "easy" way to create the installer using Github Actions

[2021-06-04 07:57] pythonhubpy opened #84 "How to install the app on linux."
Please provide some instructions on how to install or run the app on linux.

[2021-06-04 08:14] aguilaair commented on #84
Hey! Definitely on our to-do list. Right now unfortunately there is no way to "install" Sidekick on Linux. You can simply download the latest release and run the app though there, no install needed. PR #80 should help with this.

[2021-06-05 05:15] pythonhubpy commented on #84
Great!

[2021-06-05 05:15] #84 closed

[2021-06-07 11:04] fredgrott opened #85 "MS Windows needs cert to install"
MS just switched out their install permissions oper the new MS OS update,

You now need to include a cert in installer for most users to install it on MS Windoes

[2021-06-07 12:07] aguilaair commented on #85
This is a known issue, please check https://github.com/leoafarias/sidekick/blob/main/INSTALLING.md#installing-with-msix-recommended

If you still have an issue let me know

[2021-06-07 12:08] aguilaair commented on #85
Duplicate #60

[2021-06-07 13:52] leoafarias commented on #85
Close because as @aguilaair mentioned is a duplicate

[2021-06-07 13:52] #85 closed

[2021-06-08 15:47] andgar2010 opened #86 "Failed installing msix Windows 10"
Haved a problem install msix but I already did with the certification installation instructions.

![image](https://user-images.githubusercontent.com/19521054/121216883-ecbce380-c846-11eb-98ac-64960401af59.png)

Check Event Logs:
![image](https://user-images.githubusercontent.com/19521054/121209975-e9265e00-c840-11eb-8d3f-8d0ae4e17ab0.png)

https://docs.microsoft.com/en-us/windows/win32/appxpkg/tro

[2021-06-08 16:12] aguilaair commented on #86
I'm investigating this

[2021-06-08 16:16] aguilaair commented on #86
I'm assuming you have installed the certificate, right @andgar2010 ?

[2021-06-08 16:17] aguilaair commented on #86
Please try adding the MSIX as an exception to windows defender (source: https://www.reddit.com/r/sysadmin/comments/cr6uvt/multiple_msix_packages_failing_to_install/)

[2021-06-09 11:21] eugene1beetle opened #87 "[Feature Request] - Ability to set FVM cache directory from settings."

[2021-06-09 14:11] leoafarias commented on #87
I think this is what you are looking for.
We do not currently have the available on Sidekick.

https://fvm.app/docs/getting_started/configuration#cache-directory

[2021-06-09 14:19] eugene1beetle commented on #87
Thanks. I've saw it. I thought I could do the same with sidekick. Can I request this feature? :)

[2021-06-10 12:15] leoafarias commented on #62
This has been release on version 0.0.8

[2021-06-10 12:15] #62 closed

[2021-06-10 12:16] leoafarias commented on #67
Released on version 0.0.8

[2021-06-10 12:16] #67 closed

[2021-06-10 12:16] leoafarias commented on #3
Released on version 0.0.8. However, instead of providing the root directory of your projects, it just allows adding the project implicitly

[2021-06-10 12:16] #3 closed

[2021-06-16 15:23] subzero911 opened #92 "Not working with VSCode"
I installed several versions of Flutter via Sidekick (along with existing installation in D:\Flutter\Flutter SDK)
I set up version 2.2.2 globally. I also set version 2.2.2 to my project (in Projects tab)
When I open the project in VSCode, it still uses version 1.22.6 (from D:\Flutter\Flutter SDK path).

[code]

My PATH (maybe should I tweak it?)
![image](https://user-images.githubusercontent.com/1

[2021-06-16 15:29] subzero911 commented on #86
@andgar2010 use .zip archive, it contains exe file.
Msix actually doesn't work.

[2021-06-16 16:00] ricbermo opened #93 "Ui Issues"
I recorded [this](https://www.loom.com/share/953bf7a12f204a10b108a7e2010000ef) video.

1. When using the dark theme, the top and left bars are not updated.
2. When you close a release details section, it breaks the UI.

Let me know if you need my help figuring out what's not working.

[2021-06-16 16:28] leoafarias commented on #93
@ricbermo This should have been solved on the latest version. Could you try 0.0.9 and please let me know if the issue persists?

[2021-06-16 16:38] leoafarias commented on #92
@subzero911 Please read the following https://fvm.app/docs/getting_started/configuration#ide, this is an FVM question. If the link above does not help you please open an issue on the fvm repo

[2021-06-16 16:38] #92 closed

[2021-06-16 17:13] ricbermo commented on #93
@leoafarias #2 was fixed. #1 not. IDK if that's an issue or that's how it's supposed to work.

![image](https://user-images.githubusercontent.com/2601363/122263602-3f784a00-ce9c-11eb-9fab-17f95f9ee69e.png)

[2021-06-16 17:23] #93 closed

[2021-06-16 17:24] leoafarias commented on #93
Fix has been merged

[2021-06-16 19:22] aguilaair commented on #86
Hey,

MISX should work fine as long as you have installed the certificate, could you describe your issue? I've been using the MSIX version for various months, and just trued a clean install with no issues whatsoever.

Thanks!

[2021-06-18 03:43] andgar2010 commented on #86
Sorry for the late reply, I have already installed the certificate according to the instruction.

[2021-06-18 03:46] andgar2010 commented on #86
I have already tried to exception Windows Defender, but not could because my user role is administrator, but some configuration restrictions as antivirus because it is a corporate computer.

[2021-06-18 03:47] andgar2010 commented on #86
Right, I used zip, but some limited functions than MSIX.

[2021-06-18 13:50] aguilaair commented on #81
#95 added intl, will be released in next version

[2021-06-18 13:52] leoafarias opened #97 "Integration tests"
Before we release a 1.0 version we need some test coverage on some of the services but also Integration tests. Feel free to comment below if you would like to help tackle this one.

[2021-06-18 13:55] leoafarias commented on #83
@DonnC would like to help to implement this as part of our creation workflow, also what is the main benefits of Inno vs Msix, and also their certificate signing

[2021-06-18 13:59] aguilaair commented on #86
Could you try installing another MSIX and see it if works?

[2021-06-18 14:19] leoafarias opened #98 "Navigation (Refactor/Clean up)"
Sidekicks navigation is extremely simple, and it currently relies on Riverpod for its navigation. This is something we should refactor and clean up as the features navigation will continue to be more complex, and we want to link to nested pieces within the app.

I haven't checked a lot of the progress made on Navigation after Navigator 2.0, but I heard things about its complexity. Here are some pa

[2021-06-19 17:48] leoafarias commented on #81
I believe this was a first go. However not sure how maintainable this will be going forward. I believe we need to implement something like https://github.com/aloisdeniel/flutter_sheet_localization, in order to make it easy to create and maintain new languages.

The first issue that I had is when creating new features we have to easily make the strings that need to be translated available. By havin

[2021-06-19 18:28] MaxiTechno1ogy commented on #81
Have a look at the extension that makes the development a bit easier.

Also there are some websites where you can upload the arb files. And then they can be translated by everyone.

https://marketplace.visualstudio.com/items?itemName=localizely.flutter-intl

[2021-06-19 18:30] MaxiTechno1ogy commented on #81
https://localizely.com/

[2021-06-19 21:14] leoafarias commented on #81
@MaxiTechno1ogy do you have experience with this service? It seems pretty good.

[2021-06-19 21:39] osaxma opened #100 "App doesn't work in macOS without access permission to Documents"
### issue:
The app doesn't work if access permission to Documents were not allowed in macOS.

### To reproduce:

- close the app.
- remove access permission from SideKick:
<img width="800" alt="Screen Shot 2021-06-20 at 12 31 52 AM" src="https://user-images.githubusercontent.com/46427323/122655951-44205500-d15f-11eb-96b8-f6708b4903d2.png">

- open the app again
- The app would look like:

<img wid

[2021-06-19 21:47] leoafarias commented on #100
@osaxma I believe this is related to Hive default storage but not 100% sure. Will review.

[2021-06-19 21:52] leoafarias commented on #60
Closing this to keep all windows install issues in the same item #85

[2021-06-19 21:52] #60 closed

[2021-06-19 21:54] leoafarias commented on #63
@mcorbelli is this something you would like to tackle? We have some asset files that I can provide

[2021-06-19 22:10] mcorbelli commented on #63
Sure, I can take a look at it

[2021-06-20 06:27] MattisBrizard commented on #98
Hi @leoafarias, maybe another suggestion to check out:

- [RouteMaster](https://pub.dev/packages/routemaster) - Simple to setup and to use

[2021-06-21 06:43] yahu1031 opened #101 "Add cancel button for downloading progress [Feature Request]"
Show cancel button on loading progress.

**Additional context**
On-Hover the loading must show up the cancel button. So that the UI will be clean and that will give a good UX.

As I haven't checked out the code, I don't have the idea of how to do. But this is a feature request that will be helping the users to cancel their downloads.

[2021-06-21 14:07] leoafarias commented on #101
Thanks @yahu1031 will add to the backlog. There is some refactor planned for this, as to cancel we need to spin up a separate isolate it seems, to make sure it gets killed consistently.  However, this was implemented on the sandbox feature and we should be able to bring it over.

[2021-06-21 17:27] aguilaair commented on #100
Yes, this is caused because Sidekick is storing its setting in the Documents folder, @leoafarias we should consider moving to a more app-suited directory, maybe `getApplicationSupportDirectory()`

[2021-06-22 18:51] aguilaair opened #104 "Fix DB error screen."
This was spotted in #100. It seems the current method of detecting whether the DB is correctly initialized no longer works.

# Current behavior
<img width="400" alt="Screen Shot 2021-06-20 at 12 29 20 AM" src="https://user-images.githubusercontent.com/46427323/122655981-80ec4c00-d15f-11eb-9926-0fa7b40c5541.png">

# Expected behavior
<img width="400" alt="Screen Shot 2021-06-11 at 4 24 23 PM" src="

[2021-06-23 08:12] techwithsam opened #105 "I have a problem installing all flutter versions and channels"
I have a problem installing all flutter version and channel including changing settings, while installation process done correctly
[code]
![Screenshot 2021-06-23 090222](https://user-images.githubusercontent.com/42917957/123059767-02630900-d402-11eb-92cc-050f3aaa656b.png)

[2021-06-23 09:59] aguilaair commented on #105
Do you have FVM installed?

[2021-06-23 11:32] techwithsam commented on #105
Yes, I installed via power shell (admin privileges) -- choco install fvm

![Screenshot 2021-06-23 122950](https://user-images.githubusercontent.com/42917957/123089491-ea4db280-d41e-11eb-8bb5-cc39ce8b903c.png)

[2021-06-23 11:33] leoafarias commented on #105
@techwithsam please run a “fvm doctor” and post the output

[2021-06-23 11:47] techwithsam commented on #105
![Screenshot 2021-06-23 124431](https://user-images.githubusercontent.com/42917957/123091348-2550e580-d421-11eb-8575-9604d15665ee.png)

[2021-06-23 13:14] #100 closed

[2021-06-23 17:25] robsonsilv4 commented on #81
If help about it:
https://localizely.com/flutter-localization-workflow/
https://localizely.com/flutter-over-the-air/

But I still prefer local .arb files:
https://flutter.dev/docs/development/accessibility-and-localization/internationalization
https://github.com/VeryGoodOpenSource/very_good_cli

[2021-06-23 17:41] robsonsilv4 commented on #98
@leoafarias what do you think about "flow" idea?
https://flutter.dev/docs/cookbook/effects/nested-nav

You could use Riverpod or something else to keep state, if needed.

Also have a package called [Flow Builder](https://github.com/felangel/flow_builder), which use [Navigation 2.0](https://medium.com/flutter-community/flutter-navigator-2-0-for-authentication-and-bootstrapping-part-1-introduction-d

[2021-06-23 17:54] leoafarias commented on #98
@robsonsilv4 I took a look at Flow builder, but it seems very tied to the application state, in an opinionated way. Wanted something a bit more light weight hopefully.

[2021-06-23 18:26] leoafarias commented on #105
@techwithsam Could you do an `fvm install 2.2.2 --verbose` and provide the output?

[2021-06-23 23:19] techwithsam commented on #105
![Screenshot 2021-06-24 001833](https://user-images.githubusercontent.com/42917957/123179662-c5d6f200-d481-11eb-8d7d-aca458439f15.png)

[2021-06-26 13:17] aguilaair commented on #104
Identified: Localization won't work on this screen. I'll revert the localization this page.

[2021-06-26 13:43] #104 closed

[2021-06-27 09:08] mcorbelli commented on #63
Let me know if there is still a need

[2021-06-27 10:24] aguilaair commented on #63
@mcorbelli Yes!

[2021-06-27 14:13] leoafarias commented on #63
Sorry for the delay.
https://www.dropbox.com/t/iW3F1C7kzMahHNQW
 There is a 3D icon that might be a great start.

[2021-06-27 16:48] mcorbelli commented on #63
ok, I start looking at it in the next few days

[2021-06-28 23:41] andgar2010 commented on #86
@aguilaair

I was testing another MSIX with latest version 0.1.1 and it fails to replicate.
![image](https://user-images.githubusercontent.com/19521054/123716444-31351100-d840-11eb-8fea-c4eef0306da5.png)

[2021-07-03 15:16] fredgrott commented on #86
this may be separate or related. In my recent attempt, the install button is greyed and a mouse-over shows US MSIX testing cert which is most likely why the install button is greyed out.

[2021-07-03 23:38] goldcoders opened #106 "FileSystemException,Show Blank Screen on mac m1 after issuing flutter run -d macos"
OS: macOS 11.4 20F71 arm64
Flutter version 2.2.2

<img width="813" alt="Screen Shot 2021-07-04 at 7 36 46 AM" src="https://user-images.githubusercontent.com/55337687/124369091-9fdbf980-dc9a-11eb-97e6-8da33f29c7d5.png">

[code]

[2021-07-04 12:15] aguilaair commented on #106
Hey! Seems that there was an issue migrating the settings to the new location. Let me investigate this

[2021-07-09 04:40] #106 closed

[2021-07-27 16:03] Ahmadre commented on #81
I've got good experiences with internationalization.

Should I create a PR based on i18Next?

It's for me the best way to add translations and to handle Dates, and so on.

[2021-07-27 16:48] leoafarias commented on #81
@Ahmadre that would be great, to be honest, I think we need some support on keeping up with localization. We have currently implemented some, but seems that maintaining might be difficult, and also  I think some things could be simpler.

- How do we handle updates to new strings or features
- How do we make people aware that a change needs to happen
- How do make onboarding of new localization eas

[2021-07-27 20:51] Ahmadre commented on #81
Let's go:

- **How do we handle new strings/features**: ✅ (possible solution from existing production apps will follow)
- **How do we make people aware that a change needs to happen**: What exactly has this to do with translations? I think here of a kind of linter solution / static analysis, if a user tries to add static Text like: `Text('Static text)'`.
- **How do make onboarding of new localizat

[2021-07-27 22:10] aguilaair commented on #81
@Ahmadre this looks great, thanks!

You're more than welcome to start working on a PR.

Regarding state management, we use Riverpod.

[2021-07-30 14:41] leoafarias commented on #81
@Ahmadre Thanks for the detailed answers. I think what you are proposing makes translation much easier, and also maintenance of new translations. Let me know if you would like to get on a chat, or feel you have enough to start a PR

[2021-08-05 09:28] Adevien opened #111 "Open with IDE of choice"
Would it possible to have an option to open a specific project straight into the IDE of choice?

[2021-08-05 09:32] aguilaair commented on #111
Not right now, but this is a feature I'd definitely like to have too. Right now we can projects with VSCode or XCode, but I understand you may want other IDEs. Do you have any suggestions?

[2021-08-05 09:43] Adevien commented on #111
Wait i didn't knew you can open with Vscode, i never seen that action being there.

[2021-08-05 09:50] aguilaair commented on #111
The code is there for sure, however I'm unsure if it was ever implemented. I'll take a look ASAP.

[2021-08-08 08:55] NiceboyWiseboy commented on #86
Hello,

I also have the same issue. Anyone found the solution yet? I tried by installing the solution also. It doesn't work either.
Or someone please tell me how to install the certificate, so I can verify if I'm missing something in installing the certificate.

Thanks for helping...

[2021-08-08 22:35] Ahmadre commented on #81
I've finished everything and added also spanish as a new language so you can see what I actually did.

[2021-08-09 10:29] Ahmadre commented on #97
@leoafarias
I've integrated the latest integration_test package from Flutter with Firebase TestLab & Bitrise/Codemagic for automated E2E-Test with multiple devices.

Do you need any help here?

I just have to investigate a little bit for github actions and I could start in the next weekend with this.

[2021-08-09 10:38] Ahmadre commented on #98
There was a solution by the velocityX Package: https://www.youtube.com/watch?v=-2K-mRWJvwE

It's easy to use, but not really lightweight

[2021-08-09 11:53] aguilaair commented on #97
@Ahmadre we would love some help getting integration tests set up! I can handle the GH actions if you prefer 😄

[2021-08-11 15:35] #81 closed

[2021-08-11 19:14] aguilaair commented on #81
@Ahmadre I cannot get the intl to work on my PC. Is there any step I have to take?

![image](https://user-images.githubusercontent.com/29983481/129089145-dcd5200a-cd5a-4fe3-a3e6-ddb920de1ff4.png)

[2021-08-12 23:20] Ahmadre commented on #81
That doesn't look like intl. Could you reset your settings in SettingsScreen and let Hive reinitialize itself?

 I am also investigating into this. I also found a problem with 'isCached'. I think null-safety would be helpful.

[2021-08-12 23:24] Ahmadre commented on #81
I will rename the key for hive to cache. It can collide with the existing key I was using for the actual locale

[2021-08-15 20:58] aguilaair commented on #111
I'm currently in the process of reimplementing this.

[2021-08-16 10:20] aguilaair commented on #111
![image](https://user-images.githubusercontent.com/29983481/129549005-7110c6c3-2491-4770-8082-6caeeaa803e3.png)

[2021-08-16 13:21] gauravmehta13 commented on #111
Hi Guys, Not sure how this works but i have activated sidekick flutter dev for a project but when i open it in vs code it still shows flutter stable

[2021-08-16 13:22] gauravmehta13 commented on #111
any way to fix this? am i missing something?

[2021-08-16 14:06] aguilaair opened #119 "Add transparency to Windows and Linux"
This would bring UI parity with MacOS. We could use https://pub.dev/packages/flutter_acrylic as it seems very simple to implement

[2021-08-16 16:08] leoafarias commented on #119
@aguilaair I think we should also add the top bar of the window using https://github.com/bitsdojo/bitsdojo_window, since that also behaves differently between mac, linux and windows.

[2021-08-16 16:09] #111 closed

[2021-08-19 13:30] leoafarias opened #124 "Fix build zip link URL to flutter_flat_data"
Right now the build zip URL is linking to a deprecated Flutter URL. We need to make the change to point to the flutter flat data https://github.com/leoafarias/flutter_flat_data which has more control in case the data is deprecated again.

[2021-08-31 14:05] #124 closed

[2021-09-01 10:33] aguilaair opened #129 "Add automatic updates to Linux"
Now that sidekick is installable on Linux, I believe it would be good to have the automatic updater work similarly to MacOS and Windows. This shouldn't take too long as we just have to add the Linux specific files to the code and we should be done.

[2021-09-08 09:11] Pluto1219 commented on #12
From 200 stars in fvm to 2000, cache-path has never been effective. It is also BigSur, which is why I have never used it.

[2021-09-08 09:16] Pluto1219 commented on #12
Added note, cache-path does not take effect in sidekick.

[2021-09-08 11:22] leoafarias commented on #12
@Pluto1219 let me know the situation which cache path is not working . Also we are still stabilizing sidekick but it has been tested to work after an app restart.

Please give me a bit more info so I can dig in.

[2021-09-09 01:32] Pluto1219 commented on #12
I don't know what went wrong, if it can be fixed, it would be great.

![image](https://user-images.githubusercontent.com/15402976/132607212-a0b3e342-fb26-43a4-884f-963ecffb8d22.png)

![image](https://user-images.githubusercontent.com/15402976/132607169-3d297535-8c15-42be-8d78-953e13e50900.png)

[2021-09-09 12:30] matecode commented on #12
Same problem here, neither FVM_HOME nor setting cache_path works ...

BigSur 11.5.2

[2021-09-10 06:32] kassadin commented on #12
I haven't tested it yet，I think it's a mac gui environment variable issue.

According to the [search result](https://apple.stackexchange.com/questions/389023/setting-gui-visible-environment-variables-with-os-catalina), GUI and terminal are two sets of environment variables.

 Your test worked because you didn't set `FVM_HOME`, so the default .`setting` was found, so `cache-path `is valid.

 If   s

[2021-09-10 13:59] matecode commented on #12
I can confirm that. I have FVM_HOME set in my .zshenv and if i open Sidekick from Terminal with `open -a Sidekick` everything works fine

[2021-09-12 07:03] Sameerkash opened #135 "Add ability to create projects and configure FVM"
It would be great a new Flutter Project could be created with the option to select from fvm downloads and automatically initialized in the project.

Also, future enhancement is the ability to install and modify options  `fvm`  CLI through sidekick, would make it an all in one awesome tool, I currently love using it, and these would be geat additions.

[2021-09-12 08:09] aguilaair commented on #135
I'm tu8rning this into a discussion, as it seems more appropriate

[2021-09-12 08:09] #135 closed

[2021-09-12 11:13] sarahk opened #137 "Macos says the files are out of date"
I tried macos-0.1.1.dmg and sidekick_macos_2.5.0-stable.zip

My system: macos v11.5.2

[2021-09-12 11:33] aguilaair commented on #137
Please check https://github.com/leoafarias/sidekick/wiki/Installing#macos

[2021-09-12 11:33] #137 closed

[2021-09-13 13:41] leoafarias opened #138 "Console output not displaying after first action"
## Problem
The console output at the bottom of Sidekick displays correctly after the first action on a release. An action could be `install, remove, set as global, setup`.

However, after a second action takes place the loading indicator and feedback are displayed however no console information is displayed.

The error displayed in the logs is.
[code]

This seems to be coming from `fvmStdoutProvid

[2021-09-13 13:52] aguilaair commented on #138
I can try working on this but feel that you have a better knowledge of how the console works (having designed it and worked on sandbox previously)

[2021-09-13 13:52] aguilaair commented on #138
The core bug I can fix, I think it should be a separate issue

[2021-09-13 13:54] leoafarias commented on #138
@aguilaair ok I changed the issue to focus on just the bug itself, and will do a refactor later

[2021-09-16 09:50] zs-dima opened #139 "Check if Git is installed and configured"
Error on trying to download any Flutter release: `Internal Error: Could not install Beta`

I tried to reset Sidekick settings as well

![image](https://user-images.githubusercontent.com/25195453/133595045-ba0e7c39-e8ea-4eb8-9bb8-fd8dff2584be.png)

[2021-09-16 10:45] zs-dima commented on #139
Path to Git.exe have to be set to solve it.
Could be nice to add notification about.

[2021-09-16 11:54] Pluto1219 commented on #12
I can debug it for you if you want.

[2021-09-16 12:55] leoafarias commented on #12
@Pluto1219 just based on the conversation.
- Does sidekick respect the cache-path config without FVM_HOME
- Does sidekick respect FVM_HOME without cache-path
- Does the issue only happen when configuring both together?

If you can tell me a bit more about the behavior when it happens and when it does not would allow me to make the necessary changes.

Thanks

[2021-09-16 12:56] leoafarias commented on #63
@mcorbelli we are getting ready for a 1.0 release. Please let me know if this is still something you might get to it, so we can add it to 1.0

[2021-09-17 01:45] Pluto1219 commented on #12
First of all, MY FVM was installed a long time ago via Pub Global Activate FVM.
Today I tried brew installation and configured -- cache-Path again, and the Sidekick download path worked. So I recommend only using the Brew Install FVM method and only configuring --cache-path to minimize unknown problems.
Thanks again to my buddy for developing such a great tool.

[2021-09-17 16:55] leoafarias commented on #12
@Pluto1219 no problem! We do it at the pleasure of the community!

I will leave this open for now so we can hopefully review it before 1.0. In the mean time if anyone can provide more insight it would be helpful!

[2021-09-18 11:36] goldcoders commented on #101
is it possible to implement pause download and resume at different app session ?
lets say you pause and you close the app and next you opent the app again to
resume download.

Is that possible , right now i think dio is not capable of it or do we need to use other downloader like flutter_downloader?

[2021-09-18 14:25] leoafarias commented on #101
@goldcoders the download is done through fvm which follows the flutter install instructions through git… the initial clone which is fairly small and installs de dependencies separately. If the process fails in the middle but after the initial git clone, the process will resume and not redownload

[2021-09-19 10:56] vamsee9 opened #140 "couldn't detect flutter sdk on other local drives"
I have installed flutter sdk 2.2.3 in my D drive, but this sidekick app wasn't detecting that version (2.2.3)

[2021-09-20 18:14] #129 closed

[2021-09-21 06:48] aguilaair commented on #140
was it installed using FVM? Sidekick only scans for fvm-managed versions.

[2021-09-24 11:45] leoafarias commented on #140
@vamsee9 sidekick only detects versions installed with fvm. Will close this issue, if I misunderstood the issue please create a new one.

[2021-09-24 11:45] #140 closed

[2021-09-25 02:48] alann-maulana commented on #12
Sometimes Sidekick app on my mac failed to find Flutter installations. After re-run `fvm config --cache-path /path/to/fvm/versions` it can run without trouble again 😎

[2021-09-25 10:33] aguilaair commented on #138
Ok, I've been checking this out for the last few days and there seems to be more than meets the eye. The initial bug is easily solved, just by ensuring that the stream provider is not disposed, for example by not closing the bottom app bar, or by removing the `autodispose` parameter from `fvmStdoutProvider`.

However, then we can see a second bug that is caused by the merging of the stdOut, Err, e

[2021-10-19 13:11] kvbogdanov opened #146 "Cocoapods not installed"
Hello!

Flutter doctor in the Sidekick said that I have no cocoapods in my system.
![](https://i.ibb.co/8BFDBbs/2021-10-19-20-01-24.png)
But I have!
[code]

And as a result I have no way to compile application. How can I fix it?

[2021-10-31 04:46] kadariyaujwal opened #150 "“Sidekick” can’t be opened because Apple cannot check it for malicious software."
When i try to open sidekick, it gives me this warning & can't be opened.

"“Sidekick” can’t be opened because Apple cannot check it for malicious software."
"This software needs to be updated. Contact the developer for more information."

macos BigSur 11.5.2

[2021-10-31 04:49] kadariyaujwal commented on #150
https://support.apple.com/guide/mac-help/apple-cant-check-app-for-malicious-software-mchleab3a043/mac

followed this and issue was resolved.

[2021-10-31 04:49] #150 closed

[2021-10-31 10:58] aguilaair commented on #119
![image](https://user-images.githubusercontent.com/29983481/139579613-9e824fcb-8b77-4982-a56e-34bace44fbcc.png)
WIP

[2021-10-31 11:12] aguilaair commented on #119
@leoafarias could you check out how it looks on a MacOS machine?

[2021-10-31 19:53] aguilaair commented on #150
For future reference, it is in the installing docs too: https://github.com/leoafarias/sidekick/wiki/Installing#macos

[2021-11-01 13:07] leoafarias commented on #138
Thanks @aguilaair let me know if you need assistance

[2021-11-29 21:07] leoafarias opened #154 "Feature Request: Display notification in SDK updates"
Sometimes it can take a few minutes to download a new SDK. It would be nice to display a notification with a status update.
- Display status update after the download is completed
- Display notification after SDK has finished setup
- Display notification if the channel has a new update.

[2021-11-29 21:08] leoafarias commented on #98
Thinking about going with go_router as the feedback has been great so far from the community.
https://pub.dev/packages/go_router

[2021-12-07 16:06] bbjay opened #155 "[Feature Request] Allow selection (and copying) of text in playground console output"
It would be handy to be able to copy & paste errors shown in the console.

[2021-12-07 16:13] leoafarias commented on #155
@bbjay that would be cool

[2021-12-18 22:15] abehbatre commented on #111
please add IntelliJ and Android Studio

[2021-12-18 22:26] aguilaair commented on #111
The issue with IntelliJ and Android Studio if I remember correctly is that they don't set a PATH, so there is no CLI command we can run to launch it. They also don't have a URL schema which launches them, like `vscode://`.

The combination means that Sidekick would have to look for the executable in each machine, but this is platform-specific and not dependable as, for example, intelliJ or AS can

[2021-12-19 02:32] leoafarias commented on #111
I am ok with this being done, and PRs are welcome. However, would like to avoid complex implementations to detect executables and so on if possible

[2021-12-20 19:31] Errichamonda opened #158 "Can't install on Windows"
Hi, I'm trying to reinstall Sidekick on my other PC but it doesn't work. I followed the instructions and added the certificate to the Trusted Root Certification Authorities but it seems to be expired

![image](https://user-images.githubusercontent.com/17320042/146822301-0bccb456-44bf-431e-a129-a5d836b0b307.png)

[2021-12-21 00:05] aguilaair commented on #158
Hey, I'll take a look at this in the morning!

[2022-01-06 14:11] leoafarias commented on #138
I believe this has been closed with #159

[2022-01-06 14:11] #138 closed

[2022-01-08 12:19] aguilaair commented on #158
The next version of Sidekick will release with a new (but still self-signed) certificate. Waiting on @leoafarias to see if we can push it to the Microsoft Store, which could od the signing for us.

[2022-01-09 19:25] #119 closed

[2022-01-09 22:35] #155 closed

[2022-01-20 20:20] aguilaair commented on #158
Solved, please download Sidekick from the MS Store

https://www.microsoft.com/store/productId/9NZ54K8CW0WG

[2022-01-20 20:20] #158 closed

[2022-01-20 20:21] aguilaair commented on #86
Solved, please download Sidekick from the MS Store

https://www.microsoft.com/store/productId/9NZ54K8CW0WG

or use the signed installer: https://github.com/leoafarias/sidekick/releases/download/0.2.0/windows-signed-0.2.0.Msix

[2022-01-20 20:21] #86 closed

[2022-01-20 20:22] aguilaair commented on #83
The app is now on the MS Store

https://www.microsoft.com/store/productId/9NZ54K8CW0WG

and has  a signed installer: https://github.com/leoafarias/sidekick/releases/download/0.2.0/windows-signed-0.2.0.Msix

I see no need for alternative install methods at this time

[2022-01-20 20:22] #83 closed

[2022-01-21 08:49] aguilaair opened #166 "Improve automatic update for MS Store installs"
Now that Sidekick is on the MS Store, automatic updates should not be queried through the app (or at the very minimum should direct to the MS Store)

Any help in finding a way to detect MS Store installs would be appreciated, alternatively, we can just build a different version of the app depending on where it is going to be posted.

[2022-01-21 10:21] Zhangxxl opened #167 "Title bar does not display properly"
The moment it is just opened, it can be displayed normally, but soon the title bar will be covered by gray.
OS: Windows 11
![image](https://user-images.githubusercontent.com/18618523/150510430-5346020e-ab24-4ac5-b35d-e7146d1e5ed2.png)

[2022-01-21 10:22] Zhangxxl commented on #167
download from [MS Store](https://www.microsoft.com/store/productId/9NZ54K8CW0WG)

[2022-01-21 11:54] aguilaair commented on #167
There must be some kind of overflow happening, would you be able to build on debug mode and see what the issue is?

I am not able to replicate it

[2022-01-21 11:54] leoafarias commented on #166
@aguilaair maybe the best way is to add a build flag when building and sending to the ms store

[2022-01-22 16:28] patrik-simunic-cz opened #170 "Installing a new flutter version completely crashes mac"
I've installed the Sidekick app in hopes of having FVM GUI, but something seems to be wrong. I have tried twice to install a flutter version using Sidekick and both times my mac completely crashed - I got a black screen: _"Your computer restarted because of a problem. Press a key or wait a few seconds to continue starting up."_
The first time a tried installing flutter 'stable' second time a tried

[2022-01-22 16:35] aguilaair commented on #170
Hey @reoretfacio thanks for reporting this! Sorry about the crashes.

Do you have any logs on what caused the system to crash?

It should look something like:
![image](https://user-images.githubusercontent.com/29983481/150647366-49f4f5d0-767b-48d6-a22e-98f2f323c0b7.png)

Thanks!

[2022-01-22 16:37] aguilaair commented on #170
Alternatively, simply launch the Console app, then in the sidebar, select the System Reports item, and then select the Kernel Panic item (the actual name will include the terms kernel and panic, but it will also have the date and the name of your Mac in the title).

Source: https://eshop.macsales.com/blog/39112-rocket-yard-guide-understanding-troubleshooting-kernel-panics/

[2022-01-24 17:49] devj3ns opened #171 "Open project with IntelliJ and Android Studio"
First, I really love this project. Great work!😀

I use `Android Studio` for all my flutter projects. It would be awesome if more IDEs than `VSCode` and `XCode` were supported.

[2022-01-24 17:52] aguilaair commented on #171
Hey!

This was already discussed in #111: https://github.com/leoafarias/sidekick/issues/111#issuecomment-997293272

[2022-01-24 17:56] aguilaair commented on #171
This platform logic was, in fact, implemented in Companion (a sister app to Sidekick) in this file: https://github.com/aguilaair/Companion/blob/94fb8d0af255ae0558896b15858cb333a42c1683/lib/utils/ide_management.dart#L57

As you can see it is extremely specific and non-dependable as any custom install would immediately render the detection unsufficient.

[2022-01-24 17:59] devj3ns commented on #171
Hey @aguilaair, thanks for the prompt response :)

Okay 👍
Unfortunately, I neither have enough time nor experience to make a PR for that, but I am sure someone else has.

If you don't mind, let's leave this issue open to keep track of the process.

[2022-01-24 19:24] reoretfacio commented on #170
@aguilaair No problem, as long as software will exist, bugs will too 😄
Sorry for the delay - I've been waiting until I'll have time to intentionally crash my laptop - which I did 😄
and here is the report from system alter (after restart): https://gist.github.com/reoretfacio/9d81ef917c3fbf4f9ac33f3caf1a1282
_(if you'd like, I can add also more verbose report from Console)_

After looking at the rep

[2022-01-24 19:28] aguilaair commented on #170
Thanks for the report, I'll take a look at it ASAP, don't worry about the delay.

Sure, but they should cause a whole system crash 🤣

[2022-01-24 19:31] leoafarias commented on #170
@reoretfacio Thanks for the report. Anyway, you can try building the app and running to see if you have the issue, and maybe have better debug logs?

[2022-01-24 19:49] reoretfacio commented on #170
@leoafarias I've actually installed Sidekick with installer from latest .dmg release, but as soon as I'll have a few minutes, I'll try to build from source and let you know here 😊

_(Btw. this is purely a hunch, but I have a Boom 3D installed, which is regularly eating up a ton of system resources, so I gather it might be somehow related - idk, maybe it's all together (+ docker, ton of vscode and

[2022-01-24 19:51] leoafarias commented on #170
There has been some process things fixed since last release which we will be deploying soon, I wonder if it has fixed this issue also.

Thanks

[2022-01-26 21:12] #166 closed

[2022-01-31 19:27] aguilaair commented on #171
I'm going to take a quick look to see if we can fit this into 1.0.0 😄

[2022-01-31 21:40] aguilaair commented on #171
Welp, it was not that bad 👍

[2022-01-31 22:45] devj3ns commented on #171
Awesome ☺️🥳

[2022-02-01 13:42] aguilaair commented on #139
Going to take a stab at this

[2022-02-03 14:54] #63 closed

[2022-02-05 19:12] aguilaair commented on #167
Managed to reproduce on linux:

![image](https://user-images.githubusercontent.com/29983481/152655557-2cc498a0-5fe8-4413-a6f6-18a10c7ec809.png)

Will push fix ASAP

[2022-02-05 19:15] #167 closed

[2022-02-10 14:20] #139 closed

[2022-02-11 20:12] aguilaair opened #187 "FEAT: App Management"
Mockup of general idea for the new screen (subsection of projects)
![image](https://user-images.githubusercontent.com/29983481/153663257-45ebfdab-8a8c-4078-a6f7-6f7c2106e43e.png)

[2022-02-15 14:19] leoafarias commented on #82
Will be tackling this one

[2022-02-16 19:27] #171 closed

[2022-03-01 14:36] #82 closed

[2022-03-01 20:41] aguilaair commented on #170
Hey @reoretfacio, would you mind trying this build? It contains the binaries for the latest commit so you don't have to build it from scratch.

[sidekick-macos-dev.dmg.zip](https://github.com/leoafarias/sidekick/files/8164623/sidekick-macos-dev.dmg.1.zip)

[2022-04-13 03:32] hotdang-ca commented on #154
Hey again, @leoafarias . I could probably take this on to get started

[2022-04-24 07:08] Gaoxichao commented on #61
same question

[2022-04-28 16:00] aguilaair opened #214 "SharedAxisTransition issue on theme change on Windows"
`SharedAxisTransition` is not updating when the `scaffoldBackgroundColor` changes, even though it is rebuilding the widget, results in broken transition color on Windows when the theme is changed.

https://user-images.githubusercontent.com/29983481/165794870-ff39dc36-3c32-4a6c-ac16-931101c82f8c.mp4

[2022-04-29 14:03] #214 closed

[2022-04-29 14:19] leoafarias commented on #154
@hotdang-ca we are currently preparing for a 1.0 release, let me know if you are able to tackle this within the next week or so. Thank you

[2022-04-29 17:31] leoafarias commented on #146
Seems like this is related to https://github.com/dart-lang/sdk/issues/38364, but haven't been able to make it work

[2022-05-12 14:19] fenchai23 opened #219 "How do you access Flutter Commands? and best approaches?"
sidekick creates .fvm directory instead of globally like fvm did.

On the flutter project so to access the flutter command you need to dive into the flutter directory it seems?

Is there any way to directly access flutter commands on root directory like fvm allowed me to before?

what's the best approach? or best practices while using sidekick (fvm GUI)

[2022-05-12 14:45] aguilaair commented on #219
![image](https://user-images.githubusercontent.com/29983481/168102480-49a9468b-739d-46ec-9927-75deee4d80d6.png)
You can still set a global flutter version as shown. Was that your question?

[2022-05-13 00:25] fenchai23 commented on #219
yup that was it, thanks

[2022-05-13 00:25] #219 closed

[2022-05-13 12:23] Santosh-AD commented on #12
Do I need install flutter sdk again to use side kick,

I already have SDK which I can find by checking terminal
`which flutter`

[2022-05-13 12:49] leoafarias commented on #12
@Santosh-AD I don't think this is related to this thread. FVM handles only versions installed through FVM so an existing flutter version won't be detected..

[2022-05-13 12:49] aguilaair commented on #12
Ideally yes @Santosh-AD, you can then set "flutter" to any version you want thorugh FVM/Sidekick

[2022-05-13 16:25] TENX-S opened #222 "sidekick can't recognize installed flutter"
OS: Windows 11
"flutter installation"/bin in on PATH

[2022-05-13 18:05] leoafarias commented on #222
@TENX-S sidekick only recognizes flutter versions installed with FVM

[2022-05-14 11:03] #222 closed

[2022-05-14 22:11] Vinzent03 opened #223 "Fix appimage linux GitHub Action"
I'm currently unsure, whether this project supports Linux or not. You state it in the readme multiple times, but there is no installer in the [new release](https://github.com/fluttertools/sidekick/releases/tag/1.0.0). [0.2.0](https://github.com/fluttertools/sidekick/releases/tag/0.2.0) had one. Your [wiki about installing](https://github.com/fluttertools/sidekick/wiki/Installing) states that Linux

[2022-05-15 07:59] aguilaair commented on #223
Hey!

Yes, Sidekick does support Linux, we were having some CI issues and therefore were having issues building the binaries, I will try and see if I can build them manually today.

Wiki-wise, we just haven't had time to write up install instructions, if you could make a quick guide I can put it up :)

[2022-05-15 15:43] aguilaair commented on #223
@Vinzent03 I have added the binaries, could you test the app image for me please?

[2022-05-15 15:57] Vinzent03 commented on #223
@aguilaair When starting via terminal I get the following error:
`(process:134760): GLib-CRITICAL **: 17:54:11.654: g_file_test: assertion 'filename != NULL' failed`

Then I get a pop-up from [AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher). After confirming the execution in the pop up I get another message in the terminal:
[code]
Then the process exists.

[2022-05-15 16:01] aguilaair commented on #223
Thanks, I built it with Ubuntu 22.04, so GLIBC_2.34 may not be available in your specific distro and version, I'll try and compile in 18.04 LTS and upload a new one.

Thanks for getting back to me so quickly

[2022-05-16 13:27] aguilaair commented on #223
@Vinzent03 updated, can you try now?

[2022-05-16 15:38] aguilaair opened #224 "Fix Linux Compatiblity check detection"
It seems Git is not detected unless installed through Brew, which is very strange as the implementation is simply running `git`  and looking for `See 'git help git' for an overview of the system`, which the default version also outputs.

Needs investigation

[2022-05-16 15:39] aguilaair commented on #223
Opened #224

[2022-05-16 15:44] aguilaair opened #225 "material_floating_search_bar no longer on GitHub"
Flutter 3.0 will not be supported by the library as a result.

Should we fork it, @leoafarias?

[2022-05-16 15:44] aguilaair commented on #225
Flutter 3.0 support missing from
![imagen](https://user-images.githubusercontent.com/29983481/168632001-7f2bdb88-0f39-47ca-be90-5f1e5956d70f.png)

[2022-05-16 15:55] leoafarias commented on #225
@aguilaair I would first check any solution that is current out there, if we cannot find something with support, then yes I think we might fork it or look for someone that has already done that like this https://github.com/lrorpilla/material_floating_search_bar, I have a fork from 2 years ago...

[2022-05-16 18:48] aguilaair commented on #225
Using the fork you linked for the time being

[2022-05-17 08:14] aguilaair opened #228 "Sidekick may not launch in some Windows 11 builds"
Current workaround is to run the portable or unsiged version of Sidekick in Windows 8 Compatibility mode, unknown cause.

[2022-05-20 08:45] ftc300 opened #231 "mac os execute flutter command report "env: bash\r""
<img width="469" alt="image" src="https://user-images.githubusercontent.com/12816061/169490052-2978d6f7-97c2-43ef-adf7-c20e1c61b0b0.png">

[2022-05-20 09:20] aguilaair commented on #231
this looks like an issue with CRLF (https://es.wikipedia.org/wiki/CRLF)

[2022-05-20 09:20] aguilaair commented on #231
@leoafarias any ideas?

[2022-05-21 01:24] ftc300 commented on #231
In my case I had a wrong git configuration.
I change that configuration to

`git config --global core.autocrlf input`

[2022-05-21 04:10] #231 closed

[2022-05-24 08:14] tobiasht opened #233 "Open in VS code does not open a new VS code window"
When pressing `Open in VS code` i expect the program to open a **new** window of VS code with my project. Instead it "hijacks" one of my currently opened projects. This is really annoying when you for example work on multiple projects or are running the backend locally.

[2022-05-24 08:58] aguilaair commented on #233
What OS is this?
It opens new windows in Windows 11

https://user-images.githubusercontent.com/29983481/169992954-592e0457-7405-4b42-b6e9-ef19127f7ae8.mp4

[2022-05-24 13:50] tobiasht commented on #233
MacOS Monterey 12.3.1 (Latest)

[2022-05-24 20:13] aguilaair commented on #233
Can you try the "Custom IDE" mode and selecting the file `Applications/Visual Studio Code.app/Contents/Resources/app/bin/code`?

[2022-05-25 08:33] tobiasht commented on #233
In the Applications folder you can only select an application, not the underlaying file structure. So the only thing i can select is  `Applications/Visual Studio Code.app`.

Still does not work though, it only open a finder window to the project directory.

[2022-05-26 11:33] shkvoretz opened #235 "Native Apple M1 build"
Hi there,
does sidekick install arm version of Flutter on M1 by default?

[2022-05-26 13:54] renolation commented on #235
for me, i download 3.0 for mac then replace it in folder xd

[2022-05-26 14:28] aguilaair commented on #235
If the question is of there is a native M1 executable, then no. Sidekick runs through Rosetta currently. We will have to wait on GH to offer arm MacOS and tweak the automatic update script to support arch detection.

[2022-05-26 15:10] leoafarias commented on #235
This has been answered here on FVM https://github.com/fluttertools/fvm/issues/416

[2022-05-26 16:18] shkvoretz commented on #235
Yip, that's exactly what I was after. Thanks.

[2022-05-30 02:19] renolation commented on #235
so, anyone how to check flutter version is x64 or arm ?

[2022-05-30 16:13] leoafarias commented on #235
@renolation `fvm flutter doctor` should display beside the Flutter (Channel channel_name, version_number .....`

[2022-05-30 20:08] tobiasht commented on #233
Still does not work. When testing in the terminal, you first have to `cd` into the directory and then run `code .`

[2022-05-30 21:43] aguilaair commented on #233
The thing is, not everyone has VSCode set in path. So `code .` will not work in all cases, this is the method that is used in Windows and Linux. Maybe Sidekick can check for VSCode in path and use this method which is preferred

[2022-06-14 12:06] kenicenoel commented on #228
How can it be run in compatibility mode for Windows 8? I'm not seeing this option on right click.

[2022-06-14 14:16] aguilaair commented on #228
Properties> Compatibility> Windows 8

[2022-06-21 20:17] Shiba-Kar opened #240 "Install Sidekick using Brew"

[2022-06-21 20:34] aguilaair commented on #240
This is only possible through cask, which from what I understand is unstable.

Homebrew is designed to install and manage CLI interfaces, not GUIs AFAIK.

[2022-06-22 13:48] leoafarias commented on #101
@yahu1031 The only problem with this approach is that the initial github clone last time I checked is around 80MB, while the zip is closer to 2GB because contains all dependencies for all platforms.

[2022-06-22 13:52] yahu1031 commented on #101
In that case, we can use github api calls

[2022-06-22 14:14] aguilaair commented on #228
Can you go to the event viewer Windows Logs > Application and see what error is causing the app to crash?

[2022-06-22 14:26] kenicenoel commented on #228
Sure thing. See the information below.
I have uploaded the Report.wer file [here](https://1drv.ms/u/s!Am6RzqfZBL2mx-0d9T9ROAjk7jkycg?e=iShZgP)

1: Information from the error event
Log Name:      Application
Source:        Application Error
Date:          6/22/2022 10:15:54
Event ID:      1000
Task Category: Application Crashing Events
Level:         Error
Keywords:
User:          KENICE-X360\kenic

[2022-06-23 13:25] aguilaair commented on #228
Have you tried the execuatble in compatibility mode or just the MS Store app?

[2022-06-23 20:13] aguilaair commented on #228
Ok, well at least you got it running. Still not sure what the issue is. I'm inclined to think it's Flutter's fault but other Flutter apps do indeed run fine on Windows 11 Insider builds...

[2022-06-24 21:02] TahaTesser opened #242 "Support detecting `Custom Flutter version` from `fvm`"
I currently use only [Custom Flutter Version](https://fvm.app/docs/advanced/custom_version) in `fvm` for forked Flutter SDK and I've also set it as **active** and **global** Flutter in `fvm` yet Sidekick doesn't detect this.

[code]

I cannot use the SDK installed by Sidekick for my use case.

[2022-06-26 16:10] aguilaair commented on #233
@tobiasht maind checking #243 to see if it resolves the issue?

[2022-06-26 16:13] tobiasht commented on #233
I'm on holiday for a month, if you can verify it before that, great, otherwise i will check it out when i get back. Cheers

[2022-06-26 16:20] aguilaair commented on #233
I don't have a Mac to test it unfortunately, @leoafarias?

[2022-06-26 18:11] aguilaair opened #245 "Update dependencies"
Riverpod to v1+

[2022-06-27 19:26] DanMossa opened #246 "Duplicate releases displayed (add arch differentiation on MacOS)"
I'm running this on an m1 mac mini.

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/10294777/176020181-308edb3b-7280-4643-a054-54d07b77ded4.png">

[2022-06-27 20:08] aguilaair commented on #246
What's the issue here? Are there's versions not installed?

[2022-06-29 06:43] DanMossa commented on #246
Sorry, by multiple I meant duplicate. Every version has a duplicated row

[2022-07-01 11:10] rahat14 opened #247 "Sidekick "Custom IDE" set Android Studio Not Working"
In my MacBook m1 pro, I cant seems to add android studio as the custom ide. i tried to point the application also a video I found in the GitHub issue but still no luck. it just opens the folder instead of IDE.

[2022-07-01 20:35] karniv00l commented on #246
I'm seeing the same

<img width="328" alt="Screenshot 2022-07-01 at 22 34 27" src="https://user-images.githubusercontent.com/3144291/176964667-51cc1251-d1fe-420f-af57-d42c03a7714c.png">

[2022-07-01 20:56] aguilaair commented on #246
Is this also in an M1 Mac?

[2022-07-01 20:59] karniv00l commented on #246
Ah sorry - yes

[code]

Any way I can help you debugging this?

[2022-07-01 21:22] aguilaair commented on #246
I don't have a Mac, so if you could clone the project, figure out what's happening and push a PR that'd definitely help 😂😜

Otherwise we'll have to wait on @leoafarias to be able to take a look :)

[2022-07-03 11:22] karniv00l commented on #246
Ok, got it.

Since Flutter is being built for both `x64` and `arm64` platforms, we have more versions to choose from.
See releases.json: https://raw.githubusercontent.com/fluttertools/fvm/main/releases_macos.json

This would require some work to indicate architectures in both the `Sidekick UI` and `fvm cli`.

[code]

[2022-07-03 11:50] karniv00l commented on #246
FVM issue: https://github.com/fluttertools/fvm/issues/437

[2022-07-22 15:11] Techno-Disaster commented on #81
I was recently looking up how the app is setup and would prefer if the keys for the localization strings are typed. If we follow the default flutter internalisation way we could just L10n.of(context).stringToBeTranslated(parameters). But this would probably be a very big refactoring now. Is this worth a new issue?

[2022-07-22 15:48] aguilaair commented on #81
I think the effort is not worth it at the moment, with Sidekick being mostly stable and no need to keep adding translations.

I agree a strongly typed solution would be preferable, so it may be worth it in the long term.

[2022-07-30 13:39] aguilaair commented on #233
Hey @tobiasht are you back yet? Leo seems to be a bit out of the loop rn

[2022-07-30 13:42] #224 closed

[2022-07-30 13:51] tobiasht commented on #233
It works!

[2022-07-30 16:15] #233 closed

[2022-07-31 19:31] #240 closed

[2022-08-02 13:36] aguilaair commented on #228
Hey! Are you still having issues? It's opening fine on my computer.

![image](https://user-images.githubusercontent.com/29983481/182388022-c1a4c7a0-f23c-423e-adba-53981d0e3911.png)

[2022-08-16 20:16] timshadel opened #252 "Add --use parameter for one-time execution like flutter create"
I'd really like to be able to do this:

`fvm --use 3.0.5 flutter create ....`

Version 1 of this would simply run command X with the given version, or fail if the version is not installed.

Version 2: I have no idea if you could easily see that it's creating a new package or app, and then run the code to add the `.fvm` folder when it's done. That'd be great.

The workaround I have now is to create

[2022-08-27 15:46] aguilaair commented on #252
I am closing this issue as it is not related to Sidekick (the GUI). Please file an issue here: https://github.com/fluttertools/fvm

[2022-08-27 15:46] #252 closed

[2022-08-27 15:47] aguilaair commented on #228
Closing as it seems the release is working fine now on Insider builds

[2022-09-01 07:17] Shiba-Kar commented on #228
[code]

installed sidestick from Microsoft Store latest one not opening

[2022-09-02 04:39] aguilaair commented on #228
@Shiba-Kar can you send the event viewer details?

[2022-09-07 03:10] rockyprabowo commented on #228
I got the same event message when it crashed. It looks like the crash only happens on Windows 11 Insider Beta (22621 or 22622) and not the current Dev channel (build 25169+).

Here's the event from Event Viewer:
[code]

Here's the information from Windows Problem Reports:
[code]

[2022-09-08 02:22] aguilaair commented on #228
All crashes have the exact same stack trace attached. It seems

Frame | Image | Function | Offset
-- | -- | -- | --
0 | sidekick.exe | null | 0x00000000000058A0
1 | sidekick.exe | null | 5B5E
2 | sidekick.exe | null | 0x00000000000061E9
3 | comctl32.dll | CallNextSubclassProc | 0x00000000000000B8
4 | comctl32.dll | MasterSubclassProc | EC
5 | user32.dll | UserCallWinProcCheckWow | 0x00000000000003

[2022-09-23 04:38] nicodumdum commented on #228
Experiencing the same with a fresh install of Windows 11 and fresh install of Sidekick from Windows Store.

Edition	Windows 11 Pro
Version	22H2
Installed on	‎23/‎09/‎2022
OS build	22621.521
Experience	Windows Feature Experience Pack 1000.22634.1000.0

[2022-09-25 07:05] abehbatre opened #255 "bug UI on macOS 13 (ventura)"
<img width="424" alt="image" src="https://user-images.githubusercontent.com/36602270/192132291-3e20b333-67cc-45f9-864a-1409a03de120.png">

[2022-09-26 08:40] wintrue opened #256 "version 1.0.0 at windwos 11 22622.601 can not run"
![image](https://user-images.githubusercontent.com/6380530/192232021-18b51038-9d0a-4190-bf69-81e725666a64.png)

can not start app, not show APP

[2022-09-27 20:52] aguilaair commented on #256
Duplicate of #228

[2022-09-27 20:52] #256 closed

[2022-09-27 20:53] aguilaair commented on #228
@nicodumdum does it work with compatibility mode?

[2022-09-27 20:56] aguilaair commented on #247
Managed to reproduce, will investigate

[2022-09-27 21:01] aguilaair commented on #170
I am closing this issue as it is stale

[2022-09-27 21:01] #170 closed

[2022-09-27 23:08] #247 closed

[2022-09-27 23:12] aguilaair commented on #246
Partial solution comitted, still waiting on arch-based solution, must be provided through FVM, @leoafarias

[2022-09-28 00:25] nicodumdum commented on #228
Hi @aguilaair , yes I tried running it in Windows 8 compatibility but no luck. :(
![Screenshot 2022-09-28 082301](https://user-images.githubusercontent.com/1650987/192660460-69e225c8-a29c-452e-b3de-dcbd6e912a5c.png)

[2022-09-28 06:18] aguilaair commented on #228
Ok, I will take a look ASAP

I currently don't have a W11 device

[2022-10-03 05:04] gauravmehta13 commented on #228
Facing the same issue in
![image](https://user-images.githubusercontent.com/51997260/193504987-a46b72c8-71a7-4f6f-b56f-713de90daa04.png)

[2022-10-03 15:50] Ahmadre opened #259 "[Windows]: Since Windows 11 h22h2 Update - not starting anymore"
I encountered, that sidekick isn't starting anymore since I updated to windows 11 h22h2.

I tried the official 1.0.0 on Windows-Store.

I tried without and with Admin-Rights, but none of them are starting sidekick :/

[2022-10-03 17:01] aguilaair commented on #259
Duplicate of #228

I'm really not sure what may be going on, any help would be appreciated...

[2022-10-03 17:01] #259 closed

[2022-10-03 19:48] Ahmadre commented on #228
Thanks @aguilaair :) with compatibility mode on Window 8 it's starting again on 22h2 update :)

[2022-10-03 19:53] Ahmadre opened #260 "[Windows]: Version in app wrong (0.2.0 rather then -> 1.0.0)"
I downloaded the Windows App on App-Store for Windows and there it was labeled with: 1.0.0.

But inside of Sidekick I see this:

<img width="409" alt="image" src="https://user-images.githubusercontent.com/18512224/193666670-3b5590d1-7c41-42ab-9624-cc1c05f2fbba.png">

[2022-10-03 19:54] Ahmadre commented on #260
For reference, see these changes from Flutter > 3.3.*

<img width="758" alt="image" src="https://user-images.githubusercontent.com/18512224/193666932-f82cc954-2a3e-4907-9023-6f174d52ca81.png">

https://medium.com/flutter/whats-new-in-flutter-3-3-893c7b9af1ff

[2022-10-03 20:40] aguilaair commented on #228
Ok, that's good to know, but what exactly is casuing the issues? I'm honestly very lost...

[2022-10-06 10:54] masteradit commented on #228
Facing the same issue, running in compatibility mode did not work :(

[2022-10-06 11:37] oliverbytes commented on #228
Running in windows 8 compatibility mode worked only once

[2022-10-06 21:15] aguilaair commented on #228
Okay, I now have a device with the W11 H2 Update, let's see what's going on...

[2022-10-06 21:44] #228 closed

[2022-10-06 22:23] aguilaair commented on #260
Will be fixed in new version

[2022-10-06 22:23] #260 closed

[2022-10-06 22:23] aguilaair commented on #246
Available in 1.1.0

[2022-10-06 22:23] #246 closed

[2022-10-07 10:18] Rexobias commented on #228
Also facing the same issue. Installed Windows 11 Pro 22H2 yesterday and Flutter Sidekick doesn't start (Windows Store version).

[2022-10-07 16:07] aguilaair commented on #228
@Rexobias the new release is currently under review in the Microsoft store, as soon as this gets approved it will start working again.

In the meantime, please download and install the latest version from the releases tab

[2022-10-08 10:28] Vinzent03 commented on #223
The Linux Binaries are missing again in the [1.1.0 release](https://github.com/fluttertools/sidekick/releases/tag/1.1.0). The wiki is still outdated as well.

[2022-10-09 00:41] aguilaair commented on #223
The wiki just refers to the guide coming soon, not that the version is coming soon. Feel free to contribute to fix it :)

[2022-10-28 08:39] CripyIce commented on #255
Same here.. Resizing the top part of the window seems to fix it temporarily.

[2022-11-13 21:56] Ahmadre commented on #255
I got more infos here:

![ezgif com-gif-maker (11)](https://user-images.githubusercontent.com/18512224/201546467-88516fd0-df96-4a9a-8de3-7dcd857e5ae8.gif)

<img width="311" alt="Bildschirm­foto 2022-11-13 um 22 52 36" src="https://user-images.githubusercontent.com/18512224/201546479-571802ce-a4a2-44a6-8962-1e232c089008.png">

[2022-11-13 22:29] Ahmadre commented on #255
<img width="1314" alt="Bildschirm­foto 2022-11-13 um 23 28 11" src="https://user-images.githubusercontent.com/18512224/201547797-5c43a6a7-9d6d-435f-a611-f985934eab49.png">

Ok this is the cause of the issue, but it worked earlier...I will have a look at the latest api for Ventura

[2022-11-13 22:47] Ahmadre commented on #255
Solved :) @aguilaair :3 (PR will follow)

https://user-images.githubusercontent.com/18512224/201548552-b891e5db-5e88-4893-9774-383289a619f9.mov

[2022-11-13 23:01] Ahmadre commented on #255
Please follow and upvote: https://github.com/fluttertools/sidekick/pull/266

[2022-11-15 11:32] Ahmadre commented on #255
@abehbatre I solved it. Please download Version 1.1.1 :)

[2022-11-18 10:38] dimitri-colignon opened #267 "Sidekick 1.1.1 signed not found"
Hello,
The sidekick 1.1.1 package msix for windows is not signed, I can't install it
Thanks

[2022-11-18 20:50] aguilaair commented on #267
This release was mostly for fixing macOS, so I haven't pushed it to the MS Store; therefore, it's not signed. I will send it to MS today and update once the signed package is available

[2022-11-19 07:24] dimitri-colignon commented on #267
ok, thank you very much for your work ;-)

[2022-11-19 07:24] #267 closed

[2022-11-24 07:01] #255 closed

[2022-11-24 07:01] aguilaair commented on #267
Uploaded :)

[2022-11-30 04:10] opsquid opened #268 "App Froze, Main Screen Blank, OSX Monterey"
![image](https://user-images.githubusercontent.com/542911/204703696-831596a4-bda2-4d5f-8d33-525fceae32e7.png)

App Froze, Main Screen Blank, **OSX Monterey**. Previously has working normaly on BigSur, and now not working on Monterey

Tried downloading and replace Sidekick.app , but the issue still exist.
The App screen now can only be close using "force quit"

<details>
<summary>Show flutter docto

[2022-11-30 05:11] aguilaair commented on #268
Hey! Is this happening on all versions of the app?

[2022-11-30 05:13] opsquid commented on #268
I've ony tried with the latest release version 1.1.1

[2022-11-30 05:18] opsquid commented on #268
Update 💻 :
![image](https://user-images.githubusercontent.com/542911/204713494-fcf73a80-b64a-4613-ab3b-a7b99ab27b71.png)
So I tried using version 1.1.0, and it works fine. So the problem is version 1.1.1 particulary on my Macbook Pro. 🤔

[2022-11-30 06:10] aguilaair commented on #268
The only change in the latest version of the app is a fix for macOS Ventura, @Ahmadre do you have any idea what may cause this?